* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-header, footer {
  height: 90px;
  background-color: #FFB400;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-container {
  margin: 125px 0;
}

.form-header {
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.form-header img {
  height: 35px;
  width: 35px;
  margin-right: 20px;
}

.submit-button {
  margin-top: 20px;
}

body {
  background-image: linear-gradient(to bottom, #4facfe 0%, #00f2fe 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.margin-top-20 {
  margin-top: 20px;
}

.table-container {
  margin: 25px 25px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
